@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{
    var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray();
    var root = Model.Content.Site();

    IEnumerable<IPublishedContent> items = Umbraco.TypedContentAtRoot()
    .First()
    .Children()
    .Where(x => x.DocumentTypeAlias == "projectsOverview")
    .First()
    .Children
    .Where(x => x.HasValue("projectStatus") &&
        Umbraco.GetPreValueAsString(
            x.GetPropertyValue<int>("projectStatus")) == "Completed")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}


<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            @if (selection.Length > 0)
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@root.Url">@root.Name <span class="sr-only">(current)</span></a>
                    </li>
                    @foreach (var item in selection)
                    {
                        if (item.Children().Where(x => x.IsVisible()).Count() > 0)
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @item.Name
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    @foreach (var subMenuItem in item.Children().Where(x => x.IsVisible()))
                                    {
                                        if (subMenuItem.DocumentTypeAlias == "projectItem")
                                        {
                                            if (umbraco.library.GetPreValueAsString(subMenuItem
                                            .GetPropertyValue<int>
                                                ("projectStatus")) == "Completed")
                                            {
                                                <a class="dropdown-item" href="@subMenuItem.Url">@subMenuItem.Name</a>
                                            }
                                        }
                                        else
                                        {                                          
                                                <a class="dropdown-item" href="@subMenuItem.Url">@subMenuItem.Name</a>                                         
                                        }
                                    }
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item @(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                                <a class="nav-link" href="@item.Url">@item.Name</a>
                            </li>
                        }
                    }

                </ul>
            }

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

